.myDiv {
  background: white;
  margin-bottom: 10px;
}

.myDiv1 {
  padding: 25px 50px 75px 100px; /* top right bottom left; */
}

.myDiv2 {
  padding: 25px 50px 75px; /* top left/right bottom */
}

.myDiv3 {
  padding: 25px 50px; /* top/bottom left/right */
}

.myDiv4 {
  padding: 25px; /* top/right/bottom/left */
}
